body {
    background-image: url("http://papers.co/wallpaper/papers.co-sd76-dark-man-love-gradation-blur-35-3840x2160-4k-wallpaper.jpg");
    background-color: #333333;
    background-blend-mode: normal;
    color: #ffffff;
    padding: 1%;
}
button {
    padding: 10px;
}
svg {
    stroke: #42f595;
}
a {
    color: #42f595;
}